<%- contentFor('body') %>
<form action="/leave/apply" method="post">
<div class="row">
  <div class="col-md  ">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Leave Form</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="card-body">

        <div class="form-group">
          <label>From:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input name="afrom" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                  </div>
        </div>

        <div class="form-group">
          <label>To:</label>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input name="ato" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
          </div>
        </div>
        <div class="form-group">
          <label>Custom Select</label>
                        <select class="custom-select" name="atype">
                          <option>Annual</option>
                          <option>Maternity</option>
                          <option>Casual</option>
                          <option>Nopay</option>
                        </select>
        </div>
        <div class="form-group">
          <label for="inputName">Comment</label>
          <input type="text" name="acomment" id="inputName" value=""  required="required" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" value="Apply Leave" class="btn btn-success float-right">
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
</form>

<div class="card">
    <div class="card-header">
      <h3 class="card-title">My Leave Details</h3>
    </div>
    
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>From</th>
          <th>T0</th>
          <th>Type</th>
          <th>Status</th>
          
          
        </tr>
        </thead>
        <tbody>
          <% Object(leaveInfo).forEach(function (key) { %>
        <tr>
          <td><%= key.from %></td>
          <td>
            <%= key.to %>
          </td>
          <td><%= key.type %></td>
          <td><%= key.status %></td>
          
        </tr>
        <%  }); %>
        </tbody>
        <tfoot>
        <tr>
          
          <th>From</th>
          <th>To</th>
          <th>Type</th>
          <th>sttaus</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  

<%-contentFor('styles')%>


<%-contentFor('scripts')%>