<%-contentFor('body')%>
<div class="row">
  <div class="col-md">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Branch</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="card-body">
    
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Currency</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="">
<% for (const department of departmentes){ %>
  <tr>
    <td><%= department.name %></td>
    <td><%= department.currency %></td>
    <td>
      <a href="/department/edit/<%= department.id %>" class="btn btn-info"><i class="fas fa-edit"></i></a>
      <form method="POST" action="/department/delete">
        <input type="hidden" name="departmentId" value="<%= department.id %>">
        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>  
      </form>
    </td>
  </tr>
<% } %>

</tbody>
</table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
</div>

<%-contentFor('styles')%>


<%-contentFor('scripts')%>